<%- include("../partials/head", { title: "Accueil" }) %>
<%- include("../partials/nav") %>

<% announcements.forEach((a) => { %>
  <h2><%= a.title %></h2>
  <p><%= a.description %></p>
  <p><%= a.mission_type %></p>
<% }) %>

<%- include("../partials/footer") %>